@import "tailwindcss";

@theme {
  --color-museum-dark: #121212;
  --color-museum-gray: #242424;
  --color-museum-gold: #d4af37;
  --color-museum-copper: #b87333;
}

body {
  background-color: var(--color-museum-dark);
  color: white;
  margin: 0;
  overflow-x: hidden; /* Mengizinkan scroll ke bawah, tapi mencegah scroll bocor ke samping */
  font-family: ui-sans-serif, system-ui, sans-serif;
}

/* Kustomisasi scrollbar agar lebih elegan (Opsional) */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #121212; 
}
::-webkit-scrollbar-thumb {
  background: #b87333; 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #d4af37; 
}